* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #9b59b6;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;

}

.first .icons {
    gap: 30px !important;
}

/* .first .icons .linkdin{
    font-size: 10px !important;
} */
/* .navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    height: 70px;
} */
.navbar {
    /* position:sticky !important; */
    /* margin-top: 50px !important; */
    height: 70px !important;
}

.navbar li a:hover {
    color: rgb(216, 46, 145) !important;
}

.navbar li a {
    color: black !important;
}

.nav-extra {
    margin-right: 50px;
}

.extra {
    margin-right: 500px;

}

.container-fluid .voo {
    margin-left: 20px;
}

.btn {
    color: rgb(0, 255, 149) !important;
    border: 1px solid rgb(0, 255, 149) !important;
    border-radius: 5% !important;
}

/* #carouselExample {
    width: 100% !important;
    height: 300px !important;


}
 */

.carousal-height {
    height: 520px !important;
}

.boxf {
    background-color: rgb(216, 46, 145);
    height: 260px;
    width: 400px;
    position: absolute;
    top: 260px;
    left: 700px;
}

.boxf h5 {
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    color: #fff;
}

.boxf p {
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    color: #fff;
}

.btnn {
    margin-left: 15px !important;
    margin-top: 15px !important;
    margin-right: 15px !important;
    width: 180px !important;
    color: #fff !important;
    border: 1px solid wheat !important;
}


/* form */

.main_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    padding: 10px;
    background: linear-gradient(135deg, rgb(25, 224, 191), rgb(228, 107, 163));
    margin-top: 10px;
}

.form {
    background: #fff;
    max-width: 520px;
    width: 100%;
    padding: 25px 35px;
    border-radius: 5px;
}

.text {
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
    color: #9b59b6;

}

.fos {
    color: #71b7e6;
}

.main_form form .user_details {
    display: flex;
    flex-wrap: wrap;
    /* gap: 40px !important; */
    justify-content: space-between;
}

.form .user_details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 -20px);
}

.user_details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user_details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px !important;
    /* font-size: 16px !important; */
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user_details .input-box input:focus,
.user_details .input-box input:valid {
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .catagory {
    display: flex;
    width: 80%;
    margin: 14px 0;
    gap: 30px;
}

.gender-details .catagory label {
    display: flex;
    align-items: center;
}

.gender-details .catagory .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.catagory label .one,
#dot-2:checked~.catagory label .two {
    border-color: #d9d9d9;
    background: #9b59b6;
}

form input[type="radio"] {
    display: none;
}

.gender {
    color: black;
    font-size: 15px;
}

form .button {
    height: 45px;
    width: 100%;

    /* margin: 45px 0 !important; */
}

form .button input {
    height: 100%;
    width: 100% !important;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
    .main_form {
        max-width: 100%;
    }

    .form {
        height: 870px;
    }

    .form .button {
        width: 80%;
    }

    form .user_details .input-box {
        margin-bottom: 15px;
        width: 80%;
    }

    form .gender-details .catagory {
        width: 100%;
    }

    .main_form form .user_details {
        min-height: 200px;
        overflow-y: scroll;
    }

    .user_details::-webkit-scrollbar {
        width: 0;
    }
}




/* sider */

.gallery {
    width: 900px;
    display: flex;
    overflow-x: scroll;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img {
    width: 100%;
    height: 300px;
    filter: grayscale(100%);
    transition: transform 0.5s;

}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    margin-top: 90px;
}

#backBtn,
#nextBtn {
    width: 50px;
    /* height: 100px; */
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.last-1 {
    width: 500px;
    position: absolute;
    left: 400px;
    text-align: center;
    margin-top: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}



/* footer */

footer {
    position: absolute;
    /* top: 6600px; */
    /* background: aqua; */
    height: 600px;
    width: 100%;
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footer-one {
    /* background: #9b59b6; */
    width: 300px;
    height: 400px;
    padding-top: 40px !important;
}

footer h1 {
    color: black;
}

footer h5 {
    color: #141313 !important;
    font-weight: 700 !important;
    /* font-size: 1.2rem !important; */
    font: inherit
}

.footer-one ul li a {
    text-decoration: none !important;
}

footer li a:hover {
    color: coral !important;
}

.pom {
    list-style: none;
}

footer li a {
    /* font-size: 20px; */
    font: inherit;
    color: #898989 !important;
    line-height: 2em;
    margin-bottom: 32px !important;
}

footer p {
    /* font-size: 20px; */
    font: inherit;
    color: #898989 !important;
    font-weight: 0px;
    line-height: 2em;
    margin-bottom: 30px !important;
}

.fff {
    width: 280px;
    height: 170px;
}

footer .copyright p {
    display: inline-block;
    text-align: center;
    margin: 30px 30px !important;
}

.last-cont {
    /* background-color: #000; */
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #381d7e;
}

footer .menu {
    position: relative;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .toggle {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    backdrop-filter: blur(10px);
    box-shadow: 0 25px 15px rgba(0, 0, 0, 0.25), 0 25px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3em;
    color: #fff;
    z-index: 10000;
}

.menu .toggle ion-icon {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.menu .toggle ion-icon:nth-child(1) {
    opacity: 1;
    transform: rotate(360deg);

}

.menu.active .toggle ion-icon:nth-child(1) {
    opacity: 0;
    transform: rotate(0deg);
}

.menu.active .toggle ion-icon:nth-child(2) {
    opacity: 1;
    transform: rotate(360deg);
}

.menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 110px;
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--i));
    transform: rotate(calc(360deg / 4 * var(--i)));
    scale: 0;
    z-index: 1;
    border-radius: 300px;
    overflow: hidden;
}

.menu li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 14px;
    height: 70px;
    background: #fff;
    z-index: 10;
    box-shadow: -5px 0 0 #fff5;
    transform: skewX(325deg) translateX(0) !important;
    transition: 0.5s;

}

.menu li:hover:before {
    box-shadow: -50px 0 0 #fff5;

    transform: skewX(325deg) translateX(180px) !important;
}

.menu.active li {
    scale: 1;
}

.menu li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: var(--clr);
    font-size: 2.25em;
    border-radius: 50%;
    color: #fff !important;
    transform: rotate(calc(360deg / -4 * var(--i)));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.gif img {
    height: 300px;
    width: 400px;
    position: absolute;
    left: 250px;
    top: -30px;
    /* bottom: 2px !important; */

}


@media (max-width:768px) {
    .boxf {
        height: 245px;
        width: 250px;
        position: absolute;
        top: 260px;
        left: 390px;
    }

    .boxf h5 {
        padding-left: 15px;
        padding-top: 20px;
        padding-right: 15px;
        color: #fff;
        font-size: 15px;
    }

    .boxf p {
        padding-left: 15px;
        padding-top: 10px !important;
        padding-right: 5px;
        color: #fff;
        font-size: 15px;
    }

    .last-1 {
        width: 500px;
        position: absolute;
        left: 100px;
        text-align: center;
        margin-top: 10px;
    }

    footer h1 {
        /* background-color: #71b7e6; */
        margin-left: 20px;
        height: 300px;
        width: 50px;
        color: rgb(90, 18, 18);
    }

    .footer-para-one {
        position: absolute;
        left: 40px;
        /* background-color: #71b7e6; */
        width: 220px;
    }

    .footer-para-two {
        /* background-color: #71b7e6; */
        position: absolute;
        left: 330px;
        height: 330px;
        top: 40px;
        width: 170px;
    }

    .footer-para-three {
        /* background-color: #71b7e6; */
        position: absolute;
        left: 500px;
        height: 390px;
        top: 40px;
        width: 100px;
    }

    .footer-para-three h5 {
        position: absolute;
        left: 30px;
    }

    .footer-para-three .pom {
        margin-top: 40px;
    }

    .last-cont {
        margin-top: 70px !important;
        position: absolute;
        top: 76%;
        width: 100%;
    }

    .gif img {
        height: 300px;
        width: 380px;
        position: absolute;
        left: 210px;
        bottom: 5px;
    }

}